@import "tailwindcss";

:root {
    --primary-bg: #081b29;
    --secondary-bg: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --padding-main: 80px 24px;
    --padding-tablet: 60px 24px;
    --padding-mobile: 40px 16px;
    --main-transition: 0.5s;
    --shadow-navbar: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@theme {
    --color-main: var(--main-color);
    --color-primary-bg: var(--primary-bg);
    --color-secondary-bg: var(--secondary-bg);
    --color-text: var(--text-color);
    --font-poppins: var(--font-poppins), sans-serif;
    --spacing-main: var(--padding-main);
    --spacing-tablet: var(--padding-tablet);
    --spacing-mobile: var(--padding-mobile);
    --shadow-nav: var(--shadow-navbar);

    --animate-spin-slow : spin-slow 8s infinite linear;
    --animate-fadeIn : fadeIn  0.3s ease-in-out forwards;
    --animate-fadeout : fadeout  0.3s ease-in-out forwards;


    @keyframes fadeIn {
  from {
        opacity: 0;
        transform: translateY(-5px);
    }

     to {
        opacity: 1;
        transform: translateY(0);
    }

}

    @keyframes fadeout {
    from {
          opacity: 1;
        transform: translateY(0);
    }

    to {
         opacity: 0;
        transform: translateY(-5px);
    }
}
    @keyframes spin-slow {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
}

@layer base {
    * {
        @apply box-border font-poppins scroll-smooth border-none outline-none;
    }

    html {
        @apply overflow-x-hidden max-md:text-[50%] scroll-pt-[90px];
    }

    body {
        @apply bg-primary-bg
    }

}

@layer component {
    .section {
        @apply p-mobile sm:p-tablet lg:p-main
    }

    .header {
        @apply py-[20px] px-[16px] sm:px-[24px] fixed duration-(--main-transition) flex justify-between items-center w-full z-100;
    }

    .logo {
        @apply relative flex items-center gap-2.5;
    }

    .links {
        @apply gap-10 relative items-center font-medium text-[16px]
    }

    .title-section {
        @apply text-[32px] sm:text-[45px] font-bold text-text mb-2
    }
}


.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}